body {
  background-color: #F7F9F9;
  height: 100vh;
  margin: 0;
  padding: 0;
  user-select: none;
}

.u-bg-primary {
  background-color: #3498DB !important;
}

.u-border-color-primary {
  border-color:  #5DADE2 !important;
}

.u-color-white {
  color: white;
}
