.adminPanelWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row;
}

%wrapper {
  height: 100%;
  width: 100%;
}
.deviceWrapper {
  @extend %wrapper;
}

.videoWrapper {
  @extend %wrapper;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.deviceVideoWrapper {
  width: 640px;
  height: 480px;
  background: grey;
  border-radius: 5px;
  overflow: hidden;
  video {
    width: 640px;
    height: 480px;
  }
}