
<div class="adminPanelWrapper">
  <div class="devicesWrapper">
    <div *ngFor='let device of (userDevices$ | async)' class="device">
      <h5> {{ device.device_name }}</h5>
      <div class="controlButtons">
        <button (click)='startFileSharing(device.device_name)' *ngIf='device.connected'><img src="assets/images/find_in_page-24px.svg"></button>
        <button (click)='startStreaming(device.device_name)' *ngIf='device.connected'><img src="assets/images/videocam-24px.svg"></button>
        <button (click)='refreshDevice(device.device_name)'  *ngIf='device.connected'><img src="assets/images/cached-24px.svg"></button>
        <div [ngClass]="{'connected': device.connected, 'notConnected': !device.connected}"></div>
      </div>
    </div>
    <dm-button [text]="'Add Device'" (click)="addDevice()" [customClass]="'u-bg-primary u-border-color-primary u-color-white'"></dm-button>
  </div>
  <div class="videoWrapper" [ngClass]="{'display-none': currentPage!==adminPage.VIDEO_STREAMING}">
    <div class="deviceVideoWrapper">
      <video class="deviceVideo" autoplay #video constrols (play)="hideLoader()"></video>
      <div class="deviceVideoLoader"> <div class="lds-dual-ring" *ngIf="isLoaderShowing"></div> </div>
    </div>
    <dm-button [text]="'Play Video'" (click)="play()" [customClass]="'u-bg-primary u-border-color-primary u-color-white'"></dm-button>
  </div>
  <ng-container [ngSwitch]='currentPage'>
    <ng-container *ngSwitchCase="adminPage.FILE_LIST">
      <ng-container *ngTemplateOutlet="fileSharing"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="adminPage.VIDEO_VIZ">
      <ng-container *ngTemplateOutlet="videoStreaming"></ng-container>
    </ng-container>
  </ng-container>

</div>

<ng-template #fileSharing>
  <div class="filesWrapper">
    <div *ngIf='!fileList' class="lds-dual-ring pageLoading"></div>
    <div class="fileElement" *ngFor="let file of fileList">
      <div class="fileTitle">
        <img src="assets/images/description-24px.svg">
        <h5> {{ file.fileName }}</h5>
      </div>
      <div class="controlButtons">
        <button (click)='getFile(file.fileName)' *ngIf='file.fileName !== this.fileDownloadedName && file.fileName !== this.fileDownloadingName'><img src="assets/images/cloud_download-24px.svg"></button>
        <button (click)='previewFile(file.fileName)'  *ngIf='file.fileName === this.fileDownloadedName'><img src="assets/images/remove_red_eye-24px.svg"></button>
        <button (click)='downloadFile(file.fileName)'  *ngIf='file.fileName === this.fileDownloadedName'><img src="assets/images/get_app-24px.svg"></button>
        <div class="lds-dual-ring-small-blue" *ngIf='file.fileName === this.fileDownloadingName'></div>
      </div>
    </div>
  </div>
</ng-template>

<!--
      <dm-input 
    [title]="'Device Name'"
    [type]="'text'"
    [(value)]="selectedDeviceName"></dm-input>
    <dm-button [text]="'Start Streaming'" (click)="startStreaming()" [customClass]="'u-bg-primary u-border-color-primary u-color-white'"></dm-button>
    <dm-button [text]="'Refresh Device'" (click)="refreshDevice()" [customClass]="'u-bg-primary u-border-color-primary u-color-white'"></dm-button>
  
-->